.authModalOverlay{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 

    .authModal{
        border: 2px solid #FFFFFFC9;
        min-width: 600px;
        width: 40%;
        height: 700px;
        border-radius: 40px;

        background-color: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px); 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


        .textInAuthModal{
            margin-top: 12px;
        }
    }
}