.HeaderTaskBoard{
    background-color: #22333B ;
    font-family: 'Poppins' , sans-serif;
    color: #E6E4D8;
    max-height: 143px;

    .resultBoard{
    width: 429px;
  }


    .viewBoard {
  .viewBoard__tab {
    cursor: pointer;
    transition: border-bottom 0.2s ease;

    &.active {
      border-bottom: 2px solid #8C6D51;
    }
  }
}

}