.video{
        background-color: #8B6D51;
        height: 824px;
        width: 100%;

        h2{
            font-weight: 700;
            font-family: 'TT Travels Trl', sans-serif;
            font-size: 48px;
            color: #E6E4D8;
        }
}