.HomePage {

  .authHome {
    margin: 30px 0 90px 0;
    font-family: "TT Travels Trl", sans-serif;
    color: #22333b;
    position: relative;

    h3 {
      position: relative;
      font-size: 60px;
      margin-top: 50%;
      font-weight: 900;

      b {
        position: absolute;
        top: -80px;
        font-size: 90px;
        left: 20px;
        text-decoration: none;
      }
    }

    input {
      background-color: #e6e4d8;
      width: 530px;
      height: 48px;
      border-radius: 30px;
      border: 3px solid #22333b;
      color: #22333b;
      font-weight: 400;
      margin: 10px 0;
    }

    button {
      background-color: #22333b;
      width: 530px;
      height: 60px;
      border-radius: 30px;
      text-align: center;
      color: #e6e4d8;
      margin-top: 15px;

      button:hover {
        background-color: #e6e4d8;
        color: #22333b;
      }
    }

    .textAuthHome {
      width: 530px;
      height: 100%;
    }
  }

  .videoHome {
    background-color: #8b6d51;
    height: 824px;
    width: 100%;

    h2 {
      font-weight: 700;
      font-family: "TT Travels Trl", sans-serif;
      font-size: 48px;
      color: #e6e4d8;
    }
  }

  .aboutHome {
    color: #22333b;
    margin: 90px 0;

    h2 {
      font-family: "TT Travels Trl", sans-serif;
      font-weight: 700;
    }

    p {
      font-family: Calibri, sans-serif;

    }
  }
}
