.ListElemPanel {
    display: flex;
    flex-direction: column;
    height: 270px; 
    padding: 0 8%;
    gap: 20px;

    h3 {
        align-self: flex-start;
        margin-left: 10px;
        margin-top: 10px;
    }

    ul {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        grid-template-rows: repeat(4, 1fr);
        gap: 16px 20px; 
        height: 100%;
        padding: 1em 0;

        .add-project-item {
            grid-area: 1 / 5 / 5 / 6;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
        }

        li {
            border: 1px solid #22333B;
            width: 15rem;
            padding: 4px 8px;
            display: flex;
            align-items: center;
            gap: 10px;
            height: 2rem;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

  .borderListElem{
        border-bottom: 1px solid #22333B ;
    }

    .dark .borderListElem{
        border-bottom: 1px solid #E6E4D8 ;
    }


.dark .ListElemPanel{
    .borderListElem{
        border-bottom: 1px solid #E6E4D8 ;
    }

    h3{
        color: #E6E4D8;
    }
    ul{
        li{
            background-color:#E6E4D8;
        }

    }
}