table{
    border: 3px solid #22333B;
    border-radius: 30px;
    background-color: #E6E4D8;
    width: 80%;
    max-width: 1400px;
    border-collapse: inherit;
    color: #22333B;

    thead{
    border-bottom:3px solid #22333B ;
    }

    tbody{

    }
}