/* src/shared/UI/TableTariff/TableTariff.scss */
.tariff-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 30px;
  border: 3px solid #22333B;

  th,
  td {
    border: 3px solid #ccc;
  }

  thead th {
    background-color: #f5f5f5;
    padding: 15px;
  }

  th:first-child {
    border-top-left-radius: 30px;
  }

  th:last-child {
    border-top-right-radius: 30px;
  }

  tfoot td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }

  button {
    background-color: #22333B;
    color: white;
    border: none;
    cursor: pointer;
    height: auto;
    width: 50;
  }

  .icon-cell {
    text-align: center;
    vertical-align: middle;
  }

  img {
    display: inline-block;
    height: 49px;
    width: 49px;
  }

  .rtr {
    font-size: 20px;
  }

  .trt {
    background-color: #D2D3C9;
  }

  tfoot {
    background-color: #22333B;

    td {
      border: 2px solid white;
    }

    td:first-child {
      border-bottom-left-radius: 30px;
    }

    td:last-child {
      border-bottom-right-radius: 30px;
    }
  }

  tbody {
    tr {
      height: 50px;
    }
  }

  .tariff-table__colHeader--highlight {
    background-color: #ece7dd;
    box-shadow: inset 0 -3px 0 #8c6d51;
  }

  .tariff-table__cell--highlight {
    background-color: #f6f1e8;
    font-weight: 600;
  }
}
