:root {
  --firstColor: #E6E4D8;
  --secondColor: #8C6D51;
}

.dark {
  --firstColor: #22333B;
  --secondColor: #8C6D51;
}

.App {
  background-color: var(--firstColor);
  min-height: 100vh;
}

main {
  width: 100%;
  height: 100%;
}

.Footer {
  background-color: #22333B;
  width: 100%;
  height: 300px;
}

.Header {
  background-color: var(--secondColor);
  width: 1140px;
  max-height: 73px;
  border-radius: 56px;
  margin-top: 30px;

  .navHeader {
    font-family: 'TT Travels Trl', sans-serif;
    font-weight: 500;
    font-size: 24px;
    list-style-type: none;
    background-color: var(--firstColor);
    color: var(--secondColor);
    height: 45px;
    width: 735px;
    border-radius: 34px;

    li {
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 5px 11px;
    }

    .activeNav {
      color: var(--firstColor);
      background-color: var(--secondColor);
      border-radius: 33px;
    }
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    color: var(--firstColor);
    cursor: pointer;
    height: 100%;
  }
}

.AdminLayout{
  background-color: var(--firstColor);
  min-height: 100vh;

  .listsNavUpdates{
    display: inline-flex;
    list-style-type: none;
    color: #8C6D51;
    border: 3px solid #8C6D51;
    border-radius: 30px;
    font-family: 'TT Travels Trl', sans-serif;
    margin: 20px 10px;
    padding: 5px;

    li{
        cursor: pointer;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 5px 10px;
    }

    .activeListNav{
        background-color: #8C6D51;
        color: #E6E4D8;
        border-radius: 30px;
    }
  }
}