  .SkeletonCard{
      background-color: #E6E4D8;
  }

  .SkeletonMenuElem {
    width: 100%;          
    height: 2rem;         
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .SkeletonSideBar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem; 
  }

  .SkeletonColumn {
    min-width: 300px;         
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .SkeletonColumn__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .SkeletonColumn__header-right {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .SkeletonColumn__cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
