.SkeletonCard{
     background-color: #E6E4D8;
}

.SkeletonMenuElem {
  width: 100%;          
  height: 2rem;         
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.SkeletonSideBar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem; 
}
