.TariffsPage{
width: 100%;
height: 100%;

    .tariffcInfo{
        width: 100%;

        .tariffsInfoCards{
            background-color: #22333B;
            margin-bottom: 90px;

            .tariffCards{
                width: 100%;
                display: flex;
                
            }
        }

        .buttonTariff{
            background-color: #E6E4D8;
            color: #896A4F;
            width: 100%;
            height: 135px;
            border-radius: 20px;
            text-align: center;
            font-family: 'TT Travels Trl', sans-serif;
            font-weight: 600;
            font-size: 40px;
        }
    }

    .tariffsTable,.tariffsSetting{
        h2{
            font-family: 'TT Travels Trl', sans-serif;
            font-weight: 700;
            font-size: 48px;
            color: #22333B;

            @media (min-width:768px){
                font-size: 32px;
                margin-bottom: 20px;
            }

            @media (min-width:1024px){
                font-size: 36px;
            }

            @media (min-width:1280px){
                font-size: 48px;
            }

            span{
                text-decoration: none;
                color: #896A4F;
            }
        }
    }

    .tariffsTable{
        margin-bottom: 90px;
    }
}