.infoPage{
    font-family: "Calibri", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;

    h2{
        color: #22333B;
        font-size: 128px;
    }

    h3{
        color: #8C6D51;
        font-size: 32px;
    }
}