.PanelPage {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .wrapperSidebar{
        border-left: 1px solid #22333B;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

    .mainPanelPage {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .panelsСontainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
    }
  }
  }



}
