.slaiderHome{
    background-color: #E6E4D8;
    width: 570px;
    height: 685px;   
    border-radius: 100px;
    font-size: 50px;



    .swiper-button-next,
    .swiper-button-prev {
        color: #E6E4D8;
        font-size: 16px;
        width: 40px;
        height: 40px;
        border: 2px solid #E6E4D8;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 20px; 
    }
    
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background-color: #E6E4D8;
        color: #22333B; 
    }


    .swiper-pagination {
        text-align: center;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color:#E6E4D8; 
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: #8C6D51;
        }
    }

    @media (min-width:768px)  {
        height: 540px;
        width: 420px;
    }

    @media (min-width:1024px)  {
        height: 685px;
        width: 570px;
    }
}