name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy files to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VDS_HOST }}
          username: root
          key: ${{ secrets.VDS_SSH_KEY }}
          source: "."
          target: /root/taskriver-frontend
          rm: true

      - name: Deploy with SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VDS_HOST }}
          username: root
          key: ${{ secrets.VDS_SSH_KEY }}
          script: |
            cd /root/taskriver-frontend
            docker compose down
            docker compose build --no-cache
            docker compose up -d
